  <html>
            <title>Django PAGINA DE BAYRON PRUEBA</title>
 
 
        </head>
        <body>
            <div>
                <h1><a href="">BAYRON PAGINA PRUEBA</a></h1>
            </div>
		{{Post}}
            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">Mi Primer Post</a></h2>
                <p>HOLA MUNDO :)</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">Mi Segundo Post</a></h2>
                <p>POR FIN FUNCIONA.</p>
            </div>
        </body>
    </html>
